body{
    background-color: #A5BEFA ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    text-align: center;
}
.container{
    background: #cfcfcf;
    margin: 90px auto;
    padding: 25px 50px;
    width: 300px;
}

.form{
    padding: 6px;
}

#fname ,#email, #message{
    width: 100%;
    margin: 5px 0;
    border: 1px solid ;
    border-radius: 2px;
    padding: 5px;

}

#button{
    width: 80px;
    height: 30px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}